html, body {
  background-color: black;
  height: 100%;
}

#instrument {
  background-color: blue;
  height: 120px;
  width: 820px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.box {
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  border: 2px solid black;
}

#c { background-color: aqua; }
#d { background-color: peachpuff; }
#e { background-color: blueviolet; }
#f { background-color: gold; }
#g { background-color: red; }
#a { background-color: brown; }
#b { background-color: orange; }
